.balance {
    text-align: center;
    place-content: center;
}

.balance > h1 {
    margin: 30px;
}

.balance__form {
    display: flex;
    flex-direction: row;
    place-content: center;
}

@media only screen and (max-width: 500px) {
    .balance__form {
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }
}
.balance__transactions {
    margin: 20px;
}